<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Login: <br><br><br>
    <form action="/authentication/login" method="POST">
        email:<input type = 'text' name = 'lemail' placeholder="email"/><br><br><br>
        password:<input type = 'text' name = 'lpassword' placeholder="password"/><br><br><br>
        <input type = "submit"/>
    </form><br><br><br>

    Register: <br><br><br>
    <form action="/authentication/register" method="POST">
        Role:<input type = 'text' name = 'role' placeholder="role"/><br><br><br>
        name:<input type = 'text' name = 'name' placeholder="name"/><br><br><br>
        email:<input type = 'text' name = 'email' placeholder="email"/><br><br><br>
        password:<input type = 'text' name = 'password' placeholder="password"/><br><br><br>
        phone no:<input type = 'text' name = 'phone' placeholder="phone no"/><br><br><br>
        <input type = "submit"/>
    </form>
</body>
</html>